<md-content class="topSpace" layout="row">
    <span flex></span>
    <div layout="column" flex=100 class="center-content">
      <div layout="row">
        <div layout="column" flex="70">
          <div><h1>Profile</h1></div>
          <div class="s-heading">ACCOUNT DETAILS</div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">EMAIL</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-xs-6 form-bump">
                <label>FIRST NAME </label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-xs-6 form-bump">
                <label>LAST NAME </label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-xs-6 form-bump">
                <label>DATE OF BIRTH (DD/MM/YY)</label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-xs-6 form-bump">
                <label>PHONE NUMBER</label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-xs-6 form-bump">
                <label>CITY</label>
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>

          <button class="btn btn-dark">SAVE CHANGES</button>
          <div class="s-heading">FIT DETAILS</div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">EMAIL</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="col-xs-6 form-bump">
                  <label>FIRST NAME </label>
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="col-xs-6 form-bump">
                  <label>LAST NAME </label>
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="col-xs-6 form-bump">
                  <label>DATE OF BIRTH (DD/MM/YY)</label>
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="col-xs-6 form-bump">
                  <label>PHONE NUMBER</label>
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
                <div class="col-xs-6 form-bump">
                  <label>CITY</label>
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>

              <button class="btn btn-dark">SAVE CHANGES</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</md-content>